﻿@{
    ViewData["Title"] = "Home Page";
    var inboxes = (List<Inbox>)ViewData["inboxes"];
}

    <div class="text-center">
        <h1 class="display-4">@inboxes.Count</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
